<!DOCTYPE html>
<head>
    <title>SNPr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
<body>
  <div class = "container" style="color: #2784B3;">
    <span class = "pull-right">
      <strong><a href = "/admin">Administration</a></strong>
    </span>
    <div class = "jumbotron">
      <h1 style="font-family: Ubuntu Condensed">SNPr</h1>
      <p style="font-family: Ubuntu Condensed">The most popular list of single nucleotide polymorphisms.</p>
    </div>
    {% if error %}
      <p><strong>Unknown user or wrong password.</strong></p>
    {% endif %}
    <form method = "post" action = ".">
      <div class = "form-group">
        {% csrf_token %}
        <label>Username</label>
        {{ form.username }}
        <label>Password</label>
        {{ form.password }}
      <button type = "submit" class ="btn btn-default">Log in</button>
      </div>
    </form>
  </div>
</body>
