body {
  font-family: 'Ubuntu Condensed';
}

h4 {
  font-size : 20pt;
  text-align: center;
}

.navbar-inverse {
  background-color: #CCCCCC;
  border-color: #AAAAAA;
}

.list-group .list-group-item {
  text-align: center;
  color: #0c5578;
  font-size: 15pt;
  background-color: #CCCCCC;
}

.list-group:hover  .list-group-item:hover {
  background-color: #0c5578;
  color: #DDDDDD;
}

.navbar-inverse .navbar-header .navbar-brand {
  color: #0c5578;
  font-size: 30pt;
}

.toolbar{
  color: #0c5578;
}

.toolbar:hover {
  color: #000000;
}

.badge {
  font-size: 15pt;
  background-color: #0c5578;
}

.well {
  background-color: #CCCCCC;
}
