<html>
  <head>
      <title>SNPr</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class = "container">
      <div class="page-header">
        <h1><a href="{% url 'snpref:phenotype_list'%}">SNPr</a></h1>
        <div><a href="/admin">Administration</a></div>
        <div><a href="{% url 'authuser:disconnection'%}">Log out</a></div>
      </div>
    </div>
    <div class = "container-fluid">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
