<html>
  <head>
      <title>SNPr</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class = "container">
      <div class="page-header">
        <a href="{% url 'snpref:phenotype_list'%}"><h1>SNPr</h1></a>
        <div class = "pull-right">
          <a href="/admin">Administration</a>
          <a href="{% url 'authuser:disconnection'%}">Log out</a>
        </div>
      </div>
    </div>
    <div class = "container-fluid">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
