{% extends 'snpref/base.html' %}

{% block content %}
  <head>
      <title>SNPr Phenotypes</title>
  </head>
  <div class="well well-sm">
    <h4>All the phenotypes</h4>
  </div>
  {% for phenotype in phenotypes %}
    <div class = "list-group">
      {% if phenotype.snp_number <= 0 %}
        <a class="list-group-item list-group-item-action disabled" href="#">
      {% else %}
        <a class="list-group-item list-group-item-action"
          href="{% url 'snpref:phenotype_detail' pk=phenotype.pk%}"
          data-toggle="tooltip" title="SNPs related to">
      {% endif%}
      {{phenotype.trait}}
      <span class="badge badge-default badge-pill">
        {{phenotype.snp_number}}
      </span>
      </a>
    </div>
  {% endfor %}
{% endblock content %}
