{% extends 'snpref/base.html' %}
{% block content %}
<div class="well well-sm">
  <h4>SNPs related to the phenotype {{phenotype.trait}}</h4>
</div>
<hr>
{% for snp_ref in snp_refs %}
<div>
  <a class = "snp-detail"
  href="{{snp_ref.ref.url}}" data-toggle="tooltip" title="Reference">
      <span  class="glyphicon glyphicon-education">
      </span>
    </a>
    &emsp;
    <a class = "snp-detail"
    href="{% url 'snpref:snp_detail' pk=snp_ref.snp.pk%}"
    data-toggle="tooltip" title="See phenotypes">
      {{snp_ref.snp.rs_id}}
    </a>
</div>
<hr>
{% endfor %}
{% endblock content %}
