<!--Base template with header and footer-->
{% extends 'snpref/base.html' %}
{% block content %}
<form method = "post" action = ".">
  <div class = "form-group">
    <!--Protection against the "Cross site request forgery"-->
    {% csrf_token
    <!--Creation of two search forms-->
    <label>Enter SNPs rsID separated by commas (empty for all)</label>
    {{ form.search }}
    <label>Filter by phenotypes separated by commas (empty for all)</label>
    {{ form.phenotypes }}
    <!--Validation button of the forms-->
    <button type = "submit" class ="btn btn-default">Search</button>
  </div>
</form>
{% for phenotype_error in phenotypes_error %}
<p><strong>No phenotype '{{phenotype_error}}' found, it has been ignored.</strong></p>
{% endfor %}
{% if snp %}
<hr>
{% endif %}
<!--Place for each SNP-->
{% for snp in snps %}
<div>
    {% if snp.ref %}
    <!--Link to the references-->
    <a class = "snp-detail"
      href="{{snp.ref.url}}" data-toggle="tooltip" title="Reference">
      <span class="glyphicon glyphicon-education">
      </span>
    </a>
    &emsp;
    {% endif %}
    <!--Link to the phenotypes list-->
    <a class = "snp-detail"
    href="{% url 'snpref:snp_detail' pk=snp.pk%}"
    data-toggle="tooltip" title="See phenotypes">
    <!--The SNP reference is displayed-->
    {{snp.rs_id}}
    </a>
</div>
<hr>
{% endfor %}
{% endblock content %}
